@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ///////////..utility classes../////////// */

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
/* .........../Food Menu/............ */

.food-menu-heading {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 400;
    color: #666;
}

.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 30px 0;
}

.food-menu-container img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.food-menu-item {
    display: flex;
    flex: 1 1 600px;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

.food-description {
    margin: auto 1.5rem;
}

.font-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #444;
}

.food-description p {
    font-size: 1.1rem;
    color: #555;
    font-weight: 500;
}

.food-description .food-price {
    color: #117964;
    font-weight: 700;
    margin-top: 10px;
}

/* ......../ media query /.......... */

@media (max-width: 500px) {
    html {
        font-size: 65%;
    }

    .food-menu-container img {
        margin: auto;
    }

    .food-menu-item {
        flex-direction: column;
        text-align: center;
    }
    .price-tag{
        justify-content: center;

    }
    .price-tag img{
        margin: 0 !important;
        margin-right: 5px !important;

    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .img-container h3 {
        font-size: 1.5rem;
    }

    .img-container .btn {
        font-size: 0.7rem;
    }
}

.price-tag{
    display: flex;
    margin: 10px 0;
    text-align: center;
}
.illy{
    width: 30px !important;
    height: 30px !important;
    margin-right: 5px;
}
.lavazza{
    height: 25px !important;
    width: 75px !important;
    border-radius: 0 !important;
    margin-right: 5px;

}
.DeRocis{
    width: 40px !important;
    height: 40px !important;
    border-radius: 0 !important;
    margin-right: 5px;
}